<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
 <div class="login">
   <h1>Diamond Price Predictor</h1>
        
   <form action="{{url_for('predict')}}"method="post">
       <input type="text" name="carat" placeholder="Carat" required="required" />
       <select name="cut" placeholder="Cut" required="required" />
             <option value=1>Fair</option>
             <option value=2>Good</option>
             <option value=3>Very Good</option>
             <option value=4>Premium</option>
             <option value=5>Ideal</option>
       </select>
       <input type="text" name="color" placeholder="Colour" required="required" />
       <input type="text" name="clarity" placeholder="Clarity" required="required" />
            
       <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
   </form>
        
   <br>
   <br>
   {{ prediction_text }}
 </div>
</body>
</html>


