<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
 <div class="login">
   <h1>Diamond Price Predictor</h1>
        
   <form action="{{url_for('predict')}}"method="post">
       <input type="number" name="carat" placeholder="Carat" step=0.01 min="0" required="required" />
       <select name="cut" placeholder="Cut" required="required" />
             <option value=1>Fair</option>
             <option value=2>Good</option>
             <option value=3>Very Good</option>
             <option value=4>Premium</option>
             <option value=5>Ideal</option>
       </select>
       <select name="color" placeholder="Colour" required="required" />
             <option value=1>J</option>
             <option value=2>I</option>
             <option value=3>H</option>
             <option value=4>G</option>
             <option value=5>F</option>
             <option value=6>E</option>
             <option value=7>D</option>
       </select>
       <select name="clarity" placeholder="Clarity" required="required" />
             <option value=1>I1</option>
             <option value=2>SI2</option>
             <option value=3>SI1</option>
             <option value=4>VS2</option>
             <option value=5>VS1</option>
             <option value=6>VVS2</option>
             <option value=7>VVS1</option>
             <option value=8>IF</option>
       </select>
       <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
   </form>
        
   <br>
   <br>
   {{ prediction_text }}
 </div>
</body>
</html>